
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="ddsm210_ros2_control">
<ros2_control name="ddsm210_test" type="system">
    <hardware>
        <plugin>ddsm210_hardware_interface/HardwareInterfaceDDSM210</plugin>
        <!-- <param name="device">/dev/ttyUSB0</param> -->
        <param name="device">/dev/ttyAMA0</param>
    </hardware>
    <joint name="joint1">
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="motor_id">16</param>
    </joint>
</ros2_control>
</xacro:macro>
</robot>
