<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="kvn">
<link name="base_link" />
<link name="link1" />
<joint name="joint1" type="continuous">
    <parent link="base_link"/>
    <child link="link1"/>
    <axis xyz="0 0 1"/>
</joint>
<xacro:include filename="test_roscontrol.urdf.xacro"/>
<xacro:ddsm210_ros2_control />
</robot>